<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Carta</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="/static/css/main.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

    </head>

    <body>

        <div class="container pt3 pb3">

        <!-- Type -->
        <section class="pb4 reading-font">
            <h2 class="text--gray pb1 border--bottom">Settings</h2>
            <h3>Whitelist.</h3>
			<p>Modify your whitelist below. These are creatures you wish for Deer 'B' Gone to ignore.</p>
			<br></br>
			
			<script>
				var MongoClient = require('mongodb').MongoClient;
				var url = "mongodb://localhost:27017/";
				
				MongoClient.connect(url, function(err, db) {
					if (err) throw err;
					var dbo = db.db("whitelist");
					dbo.find({}, function(err, list_items) {
						if (err) throw err;
						var all_items = [];
						for (var i=0; i<list_items.length;i++) {
							all_items.push(JSON.parse(list_items[i]));
						}
						console.log('the items '+ all_items);
						res.json(all_items);
					});
				});
			</script>
			<h3>Blacklist.</h3>
			<p>These are creatures you wish to scare away from your garden. They deserve no mercy.</p>
			<br></br>
			
			<h3>Daytime Responses.</h3> <!-- should be drop downs -->
			<p>These are all sound-based responses to the animals on the blacklist. If none are specified, the default is "Get off my lawn".</p><br></br>
			
			<h3>Nighttime Responses.</h3> <!-- should be drop downs -->
			<p>These are all light-based responses to the animals on the blacklist. If none are specified, the default is "Disco".</p><br></br>
			
        </section>

        <!-- Forms -->
        <section class="pb4">
            <h2 class="text--gray pb1 border--bottom">Forms</h2>
            <form class="form">
                <input class="form-control mb1" type="text" placeholder="Name">
                <input class="form-control mb1" type="email" placeholder="Email Address">
                <input class="form-control mb1" type="subject" placeholder="Subject">
                <div class="select mb1">
                    <select>
                        <option selected>Open this select</option>
                        <option>One</option>
                        <option>Two</option>
                        <option>Three</option>
                    </select>
                </div>
                <textarea class="form-control mb1" placeholder="Message"></textarea>
                <button class="btn btn--default">Default</button>
            </form>
        </section>

        <!-- Buttons -->
        <section class="pb4">
            <h2 class="text--gray pb1 border--bottom">Buttons</h2>
            <a class="btn btn--default" href="">Medium Default</a>
            <a class="btn btn--outline" href="">Medium Outline</a>
            <a class="btn btn--default btn--sm" href="">Small Default</a>
        </section>

        </div> <!-- End container -->

    </body>
</html>
