<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Deer-B-Gone | Testing</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="/static/css/main.css">
        <script type=text/javascript src="{{
            url_for('static', filename='js/testing.js') }}"></script>

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>

    <body>

        <div class="container pt3 pb3">

        <!-- Type -->
        <section class="pb4 reading-font">
	    <a class="btn btn--outline" href="/" style="float:right;">Back</a>
            <h2 class="text--gray pb1 border--bottom">Testing</h2>
            <br />
            <h3>Send custom instructions.</h3>
          <p>Select any of the options below to test your Deer-B-Gone:</p>
          <br>
          <h4>Popular Light Options</h4>
          <a class="btn btn--outline" href="">Red Light</a>
          <a class="btn btn--outline" href="">Yellow Light</a>
          <a class="btn btn--outline" href="">Green Light</a>
          <a class="btn btn--outline" href="">Blue Light</a>
          <a class="btn btn--outline" href="">White Light</a>
          <br><br>
          <h4>Popular Sound Options</h4>
          <a class="btn btn--outline" href="">Grizzly</a>
          <a class="btn btn--outline" href="">Hawk</a>
          <a class="btn btn--outline" href="">Doggos</a>
          <a class="btn btn--outline" href="">Human</a>

        </section>

        </div> <!-- End container -->

    </body>
</html>
